@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ff00aa;
  font-family: "Jost", sans-serif;
}

.jost-copy {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
}

#header_Container {
  width: 100vw;
  height: fit-content;
  background-color: rgb(244, 244, 244);
}
#header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;

  font-size: 30px;
  gap: 2rem;
}

/* canvas {
  display: block;
} */

.header_Elements {
  text-align: inherit;
}

.header_Button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  all: inherit;
  color: #000000;
}
.header_Button:hover {
  color: #ff00aa;
}

.logo {
  stroke: rgb(0, 0, 0);
  fill: rgb(0, 0, 0);
}

.container {
  position: relative;

  display: flex;
  text-align: center;
  height: 100vh;
  min-height: 80vh;

 

  background-color: rgb(244, 244, 244);


  
}



 


.backgroundImage {
  position: relative;
  
  max-height: 100%;
  height: auto;
  width: 100vh;

  background-size:contain;
  background-repeat: no-repeat;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  /* display: block; */
  margin-left: auto;
  margin-right: auto;

   margin-top: 2rem;
   margin-bottom: 2rem;

 


  z-index: 2;
}

.backgroundImage.visible {
  position: relative;
  opacity: 1;
}

.Links {
  position: absolute;
  max-height: 90vh;
  min-height: 80vh;

  width: fit-content;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 10;
  text-align: left;

  margin: 50px;
}

p {
  margin: 0px;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 2rem;
}

/* Span Define*/
.LinkNumber {
  font-weight: bold;
}
.LinkKeyword {
  font-style: italic;
}
.LinkDate {
  font-size: 1rem;
}
a:hover {
  color: #ff00aa;
}

.textBox {
  position: absolute;
  display: flex;
  align-items: center;

  color: rgb(0, 0, 0);
  font-size: 50px;

  /* pointer-events: none; */
  /* width: calc(100vw/2); */

  max-height: 90vh;
  min-height: 80vh;

  max-width: 3000px;
  min-width: 300px;

  height: inherit;
  text-align: left;
  margin-left: 50px;

  z-index: 1;
}
.textBox:hover{
  color: blue;
}

.visual {
  position:absolute;

  width: 100vw;
  height:100vh;

  
}


#credo {
  width: 100vw;
  top: 50;
  z-index: 2;
  
}
#landing {
  width: 100vw;
  height: 100vh;
  top: 50;
  z-index: 2;
 
}

.footer_Container {
  background-color: black;
  height: 100px;
}

.headerSection {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}

/* Responsive adjustments */
@media (min-width: 700px) {
  .content {
    margin: 15px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .content {
    margin: 10px;
    padding: 5px;
  }
}
