.logo{
    stroke: rgb(0, 0, 0);
    fill: white;
}
/* 
.logo_petal01{
    fill: #ff2b2b;
}
.logo_petal00{
    fill: rgb(26, 102, 77);
}
.logo_petal03{
    fill: aqua;
}
.logo_petal04{
   fill: rgb(41, 19, 210);
}
.logo_petal05{
    fill: rgb(150, 164, 23);
 }
 .logo_petal06{
    fill: rgb(66, 0, 110);
 }
 .logo_petal07{
    fill: rgb(28, 121, 30);
 }
 .logo_petal08{
    fill: rgb(0, 131, 105); 
}
    
    */
 