body {
    margin: 0;
    padding: 0;

    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px; /* Adjust the gap between columns as needed */
    margin: 0 50px; /* 50px left and right margins */
    width: calc(100vw - 100px); /* Full width minus the margins */
    grid-auto-rows: minmax(auto, 20vh); /* Row height capped at 1/5th of the viewport height */
}

.grid-item {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.span3x3{
    grid-column: span 3;
    grid-row: span 3;
}

