
.headerSection {
    position: relative;
    display: flex;
    padding: 50px;
    gap: 50px;
    font-size: 30px; 

    opacity: 0%;
    animation: slideUp 1s ease-out forwards;
  }

  @keyframes slideUp {
    0% {
      transform: translateY(20px); /* Start 50px from the bottom */
      opacity: 0;
    }
    100% {
      transform: translateY(0); /* End at its original position */
      opacity: 1;
    }
  }

  .contentWrapper{
    display: flex ;
    
    
    
    padding: 0px 50px 0px 50px;
   align-items: center;
   justify-content: center;
    height: fit-content;

    animation: slideUp 1s ease-out forwards;
    gap:100px;

    flex-wrap: wrap;
    overflow: hidden;
   }
.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}

   .contactWrapper{
    height: 100vh;
    display: flex;
    padding: 0px 50px 0px 50px;
    align-items: center;
    justify-content: center;

   }

   .copy{
    
    display: flex;
    align-self: flex-start;
   
    gap:40px;
    flex-direction: column;
    max-width: 600px;
  }

  .callToAction{
    font-family: jost;
    font-size: 150px;
    opacity: 0;

    transform: translateY(50px);
    transition: all 1s ease-out 1s;
  }

  .callToAction.show{
    opacity: 1;
    transform: translateY(0);
  }


  .btnWrapper{
    display: flex;
    gap: 20px;
  }
  

/* Responsive adjustments */

@media (max-width: 840px) {
    
    .headerSection {
 
      font-size: 20px;
      
    }

.copy{
    font-size: 15px;


    max-width: 400px;
}


}