.projectDescriptionHeader{
    position: relative;
    display: flex;
    
    gap: 50px;
    font-size: 30px; 

    opacity: 0%;
    animation: slideUp 1s ease-out forwards;
  }
  .projectOverview{
    
    display: flex;
    margin: 0px 50px;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 50px;
  }
  .projectDescription{
    font-size: 15px;
    max-width: 300px;
  }


  .imageWrapperProject{
 
    width: 100%;
    max-width: 1000px; 
    max-height: 800px;
    margin:  0px 50px;
    overflow: hidden;
    position: relative;
    aspect-ratio: 16/9; /* Adjust as needed */
  }

  
  .videoContainer{
 
    width: 100%;
    max-width:1460px; 
    max-height: 1000px;
    margin:  0px 50px;
    overflow: hidden;
    position: relative;
    aspect-ratio: 16/9;
  }
  .videoContainer video{

    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position:center;
    display: block;
    padding: 50px;
    display: flex;
    justify-content: center;
}
  
.imageWrapperProject img{

    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position:center;
    display: block;

}
.visualSeperating{
    height: 300px;
}


  @keyframes slideUp {
    0% {
      transform: translateY(20px); /* Start 50px from the bottom */
      opacity: 0;
    }
    100% {
      transform: translateY(0); /* End at its original position */
      opacity: 1;
    }
  }


.btnContainer{
    margin: 20px 50px;
}


  @media (max-width:840px) {
  

  }

  /* Mobile adjustments */
  @media (max-width:400px) {
   
    .projectDescriptionHeader{
        
        flex-direction: column;
    }
    .visualSeperating{
        height: 200px;
    }
    .imageWrapperProject{
        margin: 0px;
    }
    .videoContainer{
        margin: 50px 50px 0px 50px;
        aspect-ratio: 16/9; /* Adjust as needed */
    }
  }