*{
    margin: 0;
    padding: 0;

    
}

.gridcontainer{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height:calc(100vh - 200px);
    margin: 0px 50px;
}

.gridcontainerOverview{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: minmax(0, calc(100vh - 200px)); 
    margin:  0px 50px;
    gap: 10px;
}

.videoContainer{
    position: relative;
    height: 100vh; /* Full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;

}

.gridcontainerOverviewItem{

    background-color: rgb(130, 130, 130);
    aspect-ratio: 16 / 9;
   
}

.itemImage{
    position: relative;
    overflow: hidden;
}

.itemImage img{
    width: 100%;
    height: 100%;
 object-fit: cover

}
.itemText{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;  
    align-self: end;
    padding: 20px 20px 20px 100px ;
    gap: 20px;
}



.text h2 {
    font-size: 12px;
}
.text p{
    font-size: 12px;
}

.Buttons{
    position: sticky;
    top: 200px;
    height: calc(100% - 200px);
    background-color: azure;
    width: 100px;
    margin: 0 50px;
    z-index: 2;
}




@media (max-width: 1300px) {
    .gridcontainer {
        display: flex;
        flex-direction: column; 
    }

    .itemImage{
        flex-grow: 5;
    }
    .itemText{
        flex-grow: 1;
    }



    
}

@media (max-width: 600px) {
    .gridcontainerOverview {
        display: flex;
        flex-direction: column;
        gap: 5px; 
    }
}
