*{
    margin: 0;
    padding: 0;

    
}

.gridcontainer{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height:calc(100vh - 300px);
    margin: 0px 50px;
}

.gridcontainerOverview{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: minmax(0, calc(100vh - 200px)); 
    margin:  0px 50px;
    gap: 10px;
}
.gridcontainerOverviewItem{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 208, 208);
    aspect-ratio: 16 / 9;
   
}

.gridcontainerOverviewItem img{
   
max-width: 100%;
max-height: 100%;

}

.videoContainer{
    position: relative;
    display: flex;
    height: 100vh; /* Full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}

.itemImage{
    position: relative;
    overflow: hidden;
}

.itemImage img{
    width: 100%;
    height: 100%;
    object-fit: cover

}
.itemText{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;  
    align-self: end;
    
    gap: 20px;
}



.text h2 {
    font-size: 15px;
    
}
.text p{
    font-size: 13px;
}

.Buttons{
    position: sticky;
    top: 200px;
    height: calc(100% - 200px);
    background-color: azure;
    width: 100px;
    margin: 0 50px;
    z-index: 2;
}

.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: right;
    color: white;
}

.overlay img {
    max-width: 90%;
    max-height: 80%;
    margin-bottom: 20px;
}

.overlay p {
    font-size: 1.2rem;
    margin: 0;
    padding: 0 20px;
    
    color: black;
}

.close-btn {
    position: absolute;
    top: calc(100vh/5);
    left: calc(100vw* 0.15);
   
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

.close-btn:hover {
    color: #ff00aa;
}

/* Responsive Adjustments */


@media (max-width: 1300px) {
    .gridcontainer {
        display: flex;
        flex-direction: column; 
    }

    .itemImage{
        flex-grow: 5;
    }
    .itemText{
        flex-grow: 1;
    }



    
}

@media (max-width: 500px) {
    

    .gridcontainer{
        margin: 20px;
        height: fit-content;
    }
    .gridcontainerOverview {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 20px;
    }
 .itemImage{
    border: #ff00aa 10px;
    height: 100vh;
}


   
  
}
